html,
body {
	margin: 0;
	padding: 0
}

html {
	font-size: 62.5%;
	font-size: -webkit-calc(.625em);
	font-size: calc(.625em);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	font-size: 2em;
	background-color: #fff;
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5
}
/** Layout */

.Page {
	padding: 1rem;
	margin: .5rem;
}
/** Style */

body {
	background-color: #CCC;
}

a {
	text-decoration: none;
	color:#FC4349;
}

.Header {
	padding: .5rem;
	background-color: #293540;
	text-align: center;
}

.Header h1 {
	margin: 0;
	color: #FFF;
}

.Footer {
	font-size: 1.5rem;
	padding: .2rem 1.5rem;
}
/** ui */

input,
progress,
button {
	font-size: 2rem;
	width: 100%;
}

input {
	padding: .3rem;
	border-radius: 4px;
	background: #FFF;
	border:0 none;
}

.Progress,
progress::-moz-progress-bar {
	border: 0 none;
	border-radius: 9px;
}

progress::-moz-progress-bar {
	background-color: #79BDE0;
}

.Btn {
	text-align: center;
	margin: .5rem 0;
	padding: 1rem;
	border: 0;
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	background: #FC4349;
	cursor: pointer;
}